<table>
	<tr>
		<th>Name</th>
		<th></th>
	</tr>
<% @venues.each do |venue| %>
	<tr>
		<td><%= venue.name %></td>
		<td>
			<%= link_to "Show", admin_venue_path(venue) %>
			<%= link_to "Edit", edit_admin_venue_path(venue) %>
		</td>
	</tr>
<% end %>
</table>