<%= render 'search_form' %>
<div class="search-results">
	<% if flash[:notice] %>
	<p class="notice"><%= flash[:notice] %></p>
	<% end %>
	<% @venues.each do |venue| %>
		<div class="venue">
		<h3><%= venue.name %></h3>
		</div>
	<% end %>
</div>
